profiles {
    standard {
        includeConfig 'singularity_local.config'
    }

    utswmc_slurm {
        includeConfig 'UTSWMC_common.config'
        includeConfig 'UTSWMC_slurm.config'
    }

    uf_slurm {
        includeConfig 'UFHPL_common.config'
        includeConfig 'UFHPL_slurm.config'
    }

    utsw_slurm {
        includeConfig 'UTSWMC_common.config'
        includeConfig 'UTSWMC_slurm.config'
    }

    ucla_local {
        includeConfig 'UCLA_local.config'
    }
}

trace {
    enabled = true
    file = 'pipeline_trace.txt'
    field = 'task_id,native_id,process,name,status,exit,submit,start,complete,duration,realtime'
}

timeline {
    enabled = false
    file = 'timeline.html'
}

report {
    enabled = false
    file = 'report.html'
}

manifest {
    homePage = 'https://github.com/goalconsortium/goal_school'
    description = 'School is a collection of genomics analysis workflows that are used for detecting single nucleotide variants (SNVs), insertions/deletions (indels), copy number variants (CNVs) and translocations from RNA and DNA sequencing. These workflows were first developed and validated in a CLIA laboratory at UTSW, and will continue to be developed and maintained by the Genomics Organization for Academic Laboratories (GOAL) Consortium.'
    mainScript = 'goalConsensus.nf'
    nextflowVersion = '>=20.07.1'
}
