singularity {
  enabled = true
  runOptions="--no-home --cleanenv -B /home/$USER/goal_school/process_scripts,/data/user/$USER/GOAL/pipeline_input,/data/user/$USER/GOAL/pipeline_output,/data/user/$USER/GOAL/genome,/data/user/$USER/GOAL/panels,/data/user/$USER/GOAL/snpEff/GRCh37.75:/usr/local/bin/snpEff/data/GRCh37.75"
  cacheDir="/data/user/$USER/.singularity"
}

env {
  TMPDIR='/tmp'
}

process {
  executor = 'slurm'
  clusterOptions = '--share --partition=express --job-name=goal_pipeline --ntasks=1 --cpus-per-task=16 --time=2:00:00 --mem=65536'

  errorStrategy='retry'
  maxRetries=1

  cpus = 16
  time = 2.h
  memory = 63.GB

  withLabel: trim {
    container = 'goalconsortium/trim_galore:1.1.3'
  }

  withLabel: abra2 {
    container = 'goalconsortium/abra2:1.0.9'
  }

  withLabel: profiling_qc {
    container = 'goalconsortium/profiling_qc:1.1.3'
  }

  withLabel: dnaalign {
    container = 'goalconsortium/dna_alignment:1.0.9'
  }

  withLabel: variantcalling  {
    container = 'goalconsortium/variantcalling:1.1.5'
  }

  withLabel: structuralvariant {
    container = 'goalconsortium/structuralvariant:1.1.4'
  }

  withLabel: pindel {
    container = 'goalconsortium/structuralvariant:1.1.4'
  }
}