params {
  repoDir="$baseDir"

  input = "/data/user/$USER/GOAL/pipeline_input"
  output = "/data/user/$USER/GOAL/pipeline_output"
  snpeff_vers = 'GRCh37.75';
  genome = "/data/user/$USER/GOAL/genome/GOAL_GRCh37"
  min = false
  markdups = 'picard'
  version = 'v4'
  seqrunid = 'runtest'
  goal_core_bed = "$params.genome/goal_core497.hg19.bed"
  itd_gene_bed = "$params.genome/itd_genes.bed"
  reffa = "$params.genome/genome.fa"
  dbsnp = "$params.genome/dbSnp.vcf.gz"
  indel = "$params.genome/GoldIndels.vcf.gz"
}