
singularity {
  enabled = true
  runOptions='--no-home --cleanenv'
  cacheDir = "${params.Containers_Cache_Dir}"
}

process {
  executor = 'slurm'
  clusterOptions = '--no-requeue --account=ufmolpath --qos=ufmolpath --ntasks=1 --nodes=1'

  //clusterOptions = '--no-requeue --account=ufmolpath --qos=ufmolpath --time=10:15:00 --mem-per-cpu=3gb --cpus-per-task=8  --ntasks=1 --nodes=1'

  //clusterOptions = '--hold --no-kill'
  //queue = '128GB,256GB,256GBv1'

  //https://nf-co.re/usage/configuration#basic-configuration-profiles

  withLabel: trim {
    errorStrategy='retry'
    //cpus = {8 * task.attempt}
    cpus = 8 
    memory = {16.GB * task.attempt}
    time = {10.h * task.attempt }
    maxRetries=1

    container = 'goalconsortium/trim_galore:1.0.7'
  }

  withLabel: abra2 {
    errorStrategy='retry'
    cpus = 8
    memory = {16.GB * task.attempt}
    time = {10.h * task.attempt }
    maxRetries=1

    container = 'goalconsortium/abra2:1.0.7'
  }

  withLabel: profiling_qc {
    errorStrategy='retry'
    cpus = 8
    memory = {32.GB * task.attempt}
    time = {10.h * task.attempt }
    maxRetries=1

    container = 'goalconsortium/profiling_qc:1.0.7'
  }

  withLabel: dnaalign {
    //errorStrategy='retry'
    cpus = 8
    memory = {16.GB * task.attempt}
    time = {10.h * task.attempt }
    //maxRetries=0

     container = 'goalconsortium/dna_alignment:1.0.7'
  }

  withLabel: variantcalling  {
    errorStrategy='retry'
    cpus = 8
    memory = {32.GB * task.attempt}
    time = {10.h * task.attempt }
    maxRetries=1

    container = 'goalconsortium/variantcalling:1.0.7'
  }

  withLabel: structuralvariant {
    errorStrategy='retry'
    cpus = 8
    memory = {32.GB * task.attempt}
    time = {10.h * task.attempt }
    maxRetries=1

     //container = 'goalconsortium/structuralvariant:1.0.7'
     container = 'goalconsortium/structuralvariant'
  }

  withLabel: pindel {
    errorStrategy='retry'
    cpus = 16 
    memory = {32.GB * task.attempt}
    time = {10.h * task.attempt }
    maxRetries=1

     //container = 'goalconsortium/structuralvariant:1.0.7'
     container = 'goalconsortium/structuralvariant'
  }

  withLabel: starfusion {
    errorStrategy='retry'
    cpus = 8
    memory = {3.GB * task.attempt}
    time = {10.h * task.attempt }
    maxRetries=1

    container = 'goalconsortium/starfusion:1.0.7'
  }

  withLabel: ralign {
    errorStrategy='retry'
    cpus = 8
    memory = {3.GB * task.attempt}
    time = {10.h * task.attempt }
    maxRetries=1

    container = 'goalconsortium/rna_alignment:1.0.7'
  }

  withLabel: geneabund {
    errorStrategy='retry'
    cpus = 8
    memory = {3.GB * task.attempt}
    time = {10.h * task.attempt }
    maxRetries=1

    container = 'goalconsortium/rna_gene_abundance:1.0.7'
  }
}
