params {
       //repoDir='/seqprg'
       //BASE_DIR='/blue/ufmolpath/share/GOAL_Assay_Share/'
       repoDir="/usr/local/bin"
       Containers_Cache_Dir="/blue/ufmolpath/share/GOAL_Assay_Share/ANALYSIS/GOAL_Containers_Cache_Dir"
       Singularity_Temp_Dir="/blue/ufmolpath/share/GOAL_Assay_Share/ANALYSIS/GOAL_Containers_Cache_Dir"

        
        input = './fastq'
        output = './analysis'
        snpeff_vers = 'GRCh38.86';
        genome="/project/shared/bicf_workflow_ref/human/grch38_cloud/dnaref"
        virus_genome="/project/shared/bicf_workflow_ref/human_virus_genome/clinlab_idt_genomes"
        min=false
        markdups='picard'
        version = 'v4'
        seqrunid = 'runtest'
        goal_core_bed="$params.genome/goal_core497.hg38.bed"
        itd_gene_bed="$params.genome/itd_genes.bed"
        //ncmconf = file("$params.genome/ncm.conf")
        reffa="$params.genome/genome.fa"
        dbsnp="$params.genome/dbSnp.vcf.gz"
        indel="$params.genome/GoldIndels.vcf.gz"







}

//env {
//    NXF_TEMP=${params.output}
//    NXF_ASSETS=${params.output}
//    }

