params {
       repoDir='/seqprg'
       //BASE_DIR='/blue/ufmolpath/share/GOAL_Assay_Share/'
       repoDir='/blue/ufmolpath/share/GOAL_Assay_Share/ANALYSIS/GOAL_Process_Scripts'
       Containers_Cache_Dir="/blue/ufmolpath/share/GOAL_Assay_Share/ANALYSIS/GOAL_Containers_Cache_Dir"
       Singularity_Temp_Dir="/blue/ufmolpath/share/GOAL_Assay_Share/ANALYSIS/GOAL_Containers_Cache_Dir"

}

//env {
//    NXF_TEMP=${params.output}
//    NXF_ASSETS=${params.output}
//    }

